.config-container {
  text-align: center;
}

.config-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.config-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between; /* Adjusts space between label and input */
}

.config-form config-label {
  text-align: right; /* Right-align the text in labels */
  margin-right: 20px;
}

.config-label {
  font-size: large;
  margin-right: 20px;
}
